################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/お餅伝説２/.vs/
/お餅伝説２/x64/
/お餅伝説２/Project1/
/.vs
/お餅伝説２/Log.txt
