################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/お餅伝説２/x64/Release
/お餅伝説２/x64/Debug
/お餅伝説２/.vs/
/お餅伝説２/.vs/Project1/x64/Release
/お餅伝説２/.vs/Project1/x64/Debug
